{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./client"],
        "alias": {
          "assets": "./client/assets",
          "components": "./client/components",
          "styles": "./client/styles"
        }
      }
    ]
  ]
}
