{
  "extends": [ "eslint:recommended" ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "plugins": [],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    }
  },
  "rules": {

  }
}
