node_modules
.env

*.log
&.error
._*

ngrok*
coverage/
*.swp
*.swo
*.swn
.DS_Store
emoji/
*.swm

*-lock.json
*.lock
*.swl
FEATURE.md
globalConfig.json
globalConfig.json
history_impulso_network.json
tmp.js
