// colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-tomato: #EE3E25;
$color-cool-grey: #a5a9ad;
$color-slate-gray: #666c71;
$color-blueberry: #484aa0;
$color-silver: #ced4d9;
$color-pale-red: #d73827;
$color-dark-blue-grey: #26265e;
$color-light-grey: #FBFBFB;

// font
$font-size: 14px;
$title-size: $font-size * 2.5;

// extra
$border: 1px solid $color-silver;
$border-radius: 20px;
