.gamer {
  a {
    text-decoration: none;
    padding: ($font-size * 2) $font-size;

    @include mobile {
      padding: $font-size 0;
    }

    &:hover {
      background-color: $color-light-grey;
    }
  }

  &__card {
    padding: ($font-size * 2);
    border-radius: $border-radius;
    border: $border;
    margin: ($font-size * 2) 0 $font-size;

    @include mobile {
      margin: -$font-size 0 $font-size;
    }

    &-footer {
      color: $color-cool-grey;
      text-align: center;
      margin-top: ($font-size * 2);
      font-size: ($font-size * .85);
      font-weight: normal;
      padding-bottom: ($font-size * 8);

      @include mobile {
        padding-bottom: 0;
      }
    }
  }

  &__profile {
    &.row {
      @include mobile {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__details {
    margin-top: ($font-size * 2);
    align-items: baseline;

    @include mobile {
      margin-top: $font-size;
    }

    .row {
      align-items: baseline;
    }
  }

  &__name {
    color: $color-dark-blue-grey;
    font-weight: bold;
    font-size: ($font-size * 1.75);
    margin: 0 0 ($font-size * .25);

    @include mobile {
      font-size: ($font-size * 1.2);
    }
  }

  &__level {
    color: $color-cool-grey;
    font-size: ($font-size * 1.2);
    font-weight: bold;

    @include mobile {
      font-weight: normal;
      font-size: $font-size;
    }
  }

  &__xp {
    font-size: ($font-size * 2.5);
    text-align: right;
    color: $color-tomato;
    text-transform: uppercase;
    font-weight: bold;

    @include mobile {
      font-size: ($font-size * 1.5);
    }
  }

  &__badges {
    flex: 0 0 40%;
    max-width: 40%;

    @include mobile {
      flex: 1;
      max-width: 100%;
      margin-bottom: $font-size;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-left: -($font-size * .5);
    }

    &-item {
      margin-left: ($font-size * .5);
      margin-bottom: ($font-size * .5);
      display: flex;

      img {
        border-radius: 50%;
      }
    }
  }
}
