@import url("https://use.typekit.net/ilk7sdy.css");

:root {
  --tomato: #ee3e25;
  --cool-grey: #a5a9ad;
  --black: #000000;
  --slate-grey: #666c71;
  --white: #ffffff;
  --blueberry: #484aa0;
  --silver: #ced4d9;
  --pale-red: #d73827;
  --dark-blue-grey: #26265e;
  --linkedin: #0077b5;
}

body {
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.splash-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.headline-logo img {
  height: 3em;
  margin: 3em auto 6em;
  display: flex;
}

.copyright {
  color: var(--dark-blue-grey);
  text-align: center;
  margin: 1em 0 2em;
  line-height: 1em;
}

main {
  max-width: 1200px;
  width: 90vw;
  display: flex;
  margin: auto;
  min-height: calc(100vh - 16em);
  flex-direction: column;
  flex-wrap: nowrap;
}

h1.title-super {
  font-size: 2.5em;
  text-align: center;
  margin: 1em 0 2em;
  color: var(--tomato);
  text-transform: uppercase;
}
